<%- include('./partials/head') %>
<%- include('./partials/header') %>
        <section class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4>Cadastro de Operação</h4>
                    <form action="/cadastroOperacao" method="post">
                        <label for="id">ID: </label>
                        <input type="number" name="id" class="form-control" disabled>
                        <label for="operacao">Operação: </label>
                        <input type="text" name="operacao" class="form-control" required>
                        <label for="setor">Setor: </label>
                        <select name="setor" id="" class="form-select" required>
                            <option value="Setor...">Setor...</option>
                            <% setor.forEach(setor=> {%>
                                <option value="<%= setor.setor %>">
                                    <%= setor.setor %>
                                </option>
                                <%})%>
                        </select>
                        <button class="btn btn-success mt-1">Cadastrar</button>
                    </form>
                </div>
            </div>    
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>