<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>  
    <div class="col-md-12 mt-2">
        <h4 class="text-center">Lista de DI's</h4>
            <% di.forEach(di => {%>
                <div class="card card-body mt-1">
                    <label for="di">DI: </label>
                    <input type="number" disabled class="form-control mt-1" name="di" value="<%= di.di %>" id="diResp">
                    <label for="op">OP: </label>
                    <input type="text" disabled class="form-control mt-1" name="op" value="<%= di.op %>" id="opResp">
                    <label for="cliente">Cliente: </label>
                    <input type="text" disabled class="form-control mt-1" name="cliente" value="<%= di.cliente %>">
                    <div class="d-inline">    
                        <form class="d-inline" action="" method="get">
                            <button type="submit" class="btn btn-success mt-1">Editar</button>
                        </form>
                        <form class="d-inline" action="" method="post">
                            <button type="submit" class="btn btn-danger mt-1">Excluir</button>
                        </form>
                            <a href="/responsavelDi/<%= di.di %>/<%= di.op %>"><button type="submit" class="btn btn-warning mt-1">Incluir Responsável</button></a>
                            <a href="/diHoras/<%= di.di %>/<%= di.op %>"><button type="submit" class="btn btn-warning mt-1">Incluir Horas</button></a>
                            <a href="/diComentario/<%= di.di %>/<%= di.op %>"><button type="submit" class="btn btn-warning mt-1">Incluir Comentário</button></a>
                    </div>
                </div>
            <%})%>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>