<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>  
    <div class="col-md-12 mt-2">
        <h4 class="text-center">Lista de Máquinas</h4>
            <% maquina.forEach(maquina => {%>
                <div class="card card-body mt-1">
                    <label for="id">Id: </label>
                    <input type="number" disabled class="form-control mt-1" name="id" value="<%= maquina.id %>">
                    <label for="maquina">Nome Máquina: </label>
                    <input type="text" disabled class="form-control mt-1" name="maquina" value="<%= maquina.maquina %>">
                    <label for="maquina">Tipo: </label>
                    <input type="text" disabled class="form-control mt-1" name="tipo" value="<%= maquina.tipo %>">
                    <label for="maquina">Setor: </label>
                    <input type="text" disabled class="form-control mt-1" name="setor" value="<%= maquina.setor %>">
                    <div class="d-inline">
                        <form class="d-inline" action="" method="post">
                            <button type="submit" class="btn btn-success mt-1">Editar</button>
                        </form>
                        <form class="d-inline" action="" method="post">
                            <button type="submit" class="btn btn-danger mt-1">Excluir</button>
                        </form>
                    </div>
                </div>
            <%})%>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>