<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>  
    <div class="col-md-12 mt-2">
        <h4 class="text-center">Lista de Paradas</h4>
            <% paradas.forEach(paradas => {%>
                <div class="card card-body mt-1">
                    <label for="id">Id: </label>
                    <input type="number" disabled class="form-control mt-1" name="id" value="<%= paradas.id %>">
                    <label for="tipo">Tipo: </label>
                    <input type="text" disabled class="form-control mt-1" name="tipo" value="<%= paradas.tipo %>">
                    <label for="descricao">Descrição: </label>
                    <input type="text" disabled class="form-control mt-1" name="descricao" value="<%= paradas.descricao %>">
                    <div class="">
                        <form class="d-inline" action="" method="post">
                            <button type="submit" class="btn btn-success mt-1">Editar</button>
                        </form>
                        <form class="d-inline" action="" method="post">
                            <button type="submit" class="btn btn-danger mt-1">Excluir</button>
                        </form>
                    </div>
                </div>
            <%})%>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>